<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HS Grading Document</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Hello Series Grading Document</h1>
</div>
<br>
<a href="https://docs.google.com/document/d/1hvIRAa5kIj0kkqbA1H5t7Pes426jWiSKgJfzkL7Qb-4/edit?usp=sharing" target="blank_">Link to HS Grading Document</a>
<br>
<div class="embed-responsive embed-responsive-1325by500">
    <iframe width="1325" height = "500" class="embed-responsive-item" src="https://docs.google.com/document/d/1hvIRAa5kIj0kkqbA1H5t7Pes426jWiSKgJfzkL7Qb-4/edit?usp=sharing"></iframe>
</div>

</body>
</html>