<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who Wants to be a Millionaire?</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Who Wants to be a Millionaire?</h1>
</div>
<br>
<a href="https://repl.it/@iBraskyy/LolaB?lite=true" target="blank_">Link to HS Project</a>
<br>
<div class="embed-responsive embed-responsive-1325by500">
    <iframe width="1325" height = "900" class="embed-responsive-item" src="https://repl.it/@iBraskyy/LolaB?lite=true"></iframe>
</div>

</body>
</html>