<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Project Plan</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Flask Project Plan</h1>
</div>
<br>
<a href="https://docs.google.com/presentation/d/1ZIdum1H-4KPgYB2Cza5w8xEKyG2Ekk7DP5NP_Cdqfd4/edit?usp=sharing" target="blank_">Link to Flask Project Plan</a>
<br>
<div class="embed-responsive embed-responsive-1325by500">
    <iframe width="1325" height = "500" class="embed-responsive-item" src="https://docs.google.com/presentation/d/1ZIdum1H-4KPgYB2Cza5w8xEKyG2Ekk7DP5NP_Cdqfd4/edit?usp=sharing"></iframe>
</div>

</body>
</html>