<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Grading Doc</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Flask Grading Document</h1>
</div>
<br>
<a href="https://docs.google.com/document/d/1fm7hXLp1hJRqW9ipiaZ0BFIQgnMsbu1rfwUnhqT8vzY/edit?usp=sharing" target="blank_">Link to Flask Grading Document</a>
<br>
<div class="embed-responsive embed-responsive-1325by500">
    <iframe width="1325" height = "500" class="embed-responsive-item" src="https://docs.google.com/document/d/1fm7hXLp1hJRqW9ipiaZ0BFIQgnMsbu1rfwUnhqT8vzY/edit?usp=sharing"></iframe>
</div>
</body>
</html>