<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Japanese Culture Project</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Japanese Culture Project</h1>
</div>
<br>
<a href="https://github.com/sriyachilla/Tri1---Japanese-Culture-Project.git" target="blank_">Link to Github for Japanese Culture Project</a>
<br>
<div class="embed-responsive embed-responsive-1325by500">
    <iframe width="1325" height = "500" class="embed-responsive-item" src="https://github.com/sriyachilla/Tri1---Japanese-Culture-Project.git"></iframe>
</div>


</body>
</html>