<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Independent Videos for Week 9 Grading</title>
</head>
<body>
<div>
    <h1 style="background-color:black; color:white; text-align:center; padding:20px">Individual Videos for Week 9</h1>
    <br>
    <a href="https://youtu.be/giJNHBYUWQg" target="blank_">Link to Sam's Individual Video</a>
    <br>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/giJNHBYUWQg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>